<div class="d-flex justify-content-between h-f mt-3">

    <div class="col-5" [formGroup]="form">

        <!-- <div class="col-12 mb-2">
            voltar
        </div> -->

        <app-input formControlName="nome" class="b-input" mb="3" title="Nome"></app-input>
        <app-input formControlName="cpf" class="b-input" mb="3" title="Cpf"></app-input>
        <app-input formControlName="email" class="b-input" mb="3" title="Email"></app-input>
        <app-input formControlName="telefone" class="b-input" mb="3" title="Telefone"></app-input>
        <app-input formControlName="senha" class="b-input" mb="3" title="Senha"></app-input>

        <button [disabled]="canSave()" (click)="!id ? handleCreate() : handleEdit()" class="s-2 button-primary">
            {{!id ? 'Cadastrar' : 'Editar'}}
        </button>
    </div>
    
    <div class="col-6 d-flex justify-content-center">
    
        <img height="400px" src="/assets/images/Departing-pana.svg"/>

    </div>
</div>
