<p>{{ title }}</p>
<div (click)="select.open()" [class]="style + ' mb-' + mb">
    <label class="label s-2">
        {{ val?.title || val?.value || placeholder }}
    </label>

    <mat-select
            #select
            [(ngModel)]="value"
            (ngModelChange)="getOptionValue()"
        >
        <mat-option 
            (click)="onOptionClick.emit(option)"
            *ngFor="let option of options" 
            [value]="option"
            >
            {{ option.title || option.value }}
        </mat-option>
    </mat-select>
</div>