/* You can add global styles to this file, and also import other style files */
body
    background: #f4f4f4

.hv
    &:hover
        background: rgba(0, 0, 0, 0.05)
        cursor: pointer

h1, h2, h3, h4
    margin: 0 0 10px 0!important

h1
    font-size: 38px !important
    font-weight: 500 !important

h2
    font-size: 24px !important

h3
    font-size: 18px !important
